LLM_PROVIDER=ollama
OLLAMA_API_KEY=your_ollama_api_key_here
OLLAMA_MODEL=qwen2.5-coder:7b
NVIDIA_API_KEY=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
NVIDIA_MODEL=nvidia/nemotron-3-ultra-550b-a55b
